*font: xft:Open Sans:size=12

! Perl extensions to load
URxvt.perl-ext-common: default,matcher

! Do not scroll with output
URxvt*scrollTtyOutput: false

! Scroll to bottom on keypress
URxvt*scrollTtyKeypress: true

! Disable scrollback buffer in secondary screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! Fix mousewheel scroll in secondary screen
URxvt.secondaryWheel: 1

URxvt.font: xft:Deja Vu Sans Mono:Book:size=12

URxvt.scrollBar: false
URxvt.geometry: 80x24

! Clickable URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline fg5

URxvt.letterSpace: -1

! Real transparency
URxvt*depth: 32
!URxvt*background: [80]#1d1f21
!URxvt*background: [80]#000000
URxvt*background: [80]#1e1f28

URxvt.urgentOnBell: true
!URxvt.internalBorder: 10

! Colors and such
*.foreground:   #c5c8c6
*.background:   #282a38
*.cursorColor:  #c5c8c6
! black
*.color0:       #282a38
*.color8:       #373b41
! red
*.color1:       #ff5c57
*.color9:       #ff5c57
! green
*.color2:       #5af78e
*.color10:       #5af78e
! yellow
*.color3:       #f3f99d
*.color11:       #f3f99d
! blue
*.color4:       #57c7ff
*.color12:       #57c7ff
! magenta
*.color5:       #ff6ac1
*.color13:       #ff6ac1
! cyan
*.color6:       #9aedfe
*.color14:       #9aedfe
! white
*.color7:       #f1f1f0
*.color15:      #c5c8c6

Xcursor.theme: Numix

! Icon
URxvt.iconFile: /usr/share/icons/Numix-Circle/48/apps/terminal.svg

! Font stuff
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
